<section class="ui stacked segment">
  <h4 class="ui inverted red block header">Friends (${user.friendships.size()})</h4>
  <div class="ui list"> 
    #{list items:user.friendships, as:'friendship'}
      <div class="ui item"> 
        <i class="user icon"></i>
        <a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName} </a>
         (<a href="/home/drop/${friendship.targetUser.id}"> drop </a>)
      </div>
    #{/list}
  </div> 
</section>  
