#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="active item" href="/home">Home</a></li>
    <a class="item" href="/members">Members</a>
    <a class="item" href="/profile">Profile</a>
    <a class="item" href="/logout">Logout</a>
  </div>
</nav> 

<h1 class="ui inverted teal block header" >${user.firstName} ${user.lastName}</h1>
<section class="ui two column grid segment">
  <div class="row">
    <div class="ui column">
      #{include "components/friends.html" /} 
    </div>
    <div class="column">
      #{include "components/messages.html" /} 
    </div>
  </div>
</section>


 