#{extends 'main.html' /}
#{set title:'Login to Spacebook' /}

<nav class="ui inverted menu">
  <header class="header item"> Spacebook </header>
  <div class="right menu">
    <a class="item" href="/signup"> Signup  </a>
    <a class="active item" href="/login"> Login  </a>
  </div>
</nav> 

<section class="ui two column middle aligned grid raised form segment">
  <div class="column">
	  <form action="/authenticate" method="POST">
	    <div class="field">
	      <label> Username: </label>
	      <input type="text" name="email">
	    </div>  
	    <div class="field">
	      <label>  Password: </label>
	      <input type="password" name="password">
	    </div>
	    <button class="ui blue submit button">Login</button>
	  </form>
  </div>
  <div class="column">
    <img src="/public/images/simpsons1.gif" class="ui large image">
  </div>
</section>